<template>
  <router-view />
</template>

<script>
import { defineComponent } from 'vue'
import axios from 'axios';



export default defineComponent({
  name: 'App',
  setup() {
    return {};
  },

})
</script>
